[build]
  publish = "_site"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/archive"
  to = "/archive/movies"
  status = 301

[functions]
  node_bundler = "esbuild"
