---
layout: layouts/base.njk
---

<article class="archive-page">
  {% if not hideHeader %}
  <header class="archive-header">
    <h1>{{ title }}</h1>
    {% if description %}
      <p class="archive-description">{{ description }}</p>
    {% endif %}
  </header>
  {% endif %}

  <div class="archive-content">
    {{ content | safe }}
  </div>
</article>
